@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('./../fonts/iranyekan/eot/iranyekanwebboldfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 100;
	src: url('./../fonts/iranyekan/eot/iranyekanwebthinfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebthinfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebthinfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebthinfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('./../fonts/iranyekan/eot/iranyekanweblightfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanweblightfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanweblightfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanweblightfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('./../fonts/iranyekan/eot/iranyekanwebregularfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebregularfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebregularfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebregularfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 500;
	src: url('./../fonts/iranyekan/eot/iranyekanwebmediumfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebmediumfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebmediumfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebmediumfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 800;
	src: url('./../fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebextraboldfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebextraboldfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebextraboldfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 850;
	src: url('./../fonts/iranyekan/eot/iranyekanwebblackfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebblackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebblackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebblackfanum.ttf') format('truetype');
}

@font-face {
	font-family: iranyekan;
	font-style: normal;
	font-weight: 900;
	src: url('./../fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot');
	src: url('./../fonts/iranyekan/eot/iranyekanwebextrablackfanum.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('./../fonts/iranyekan/woff/iranyekanwebextrablackfanum.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('./../fonts/iranyekan/ttf/iranyekanwebextrablackfanum.ttf') format('truetype');
}

*{
  outline: none !important;
  box-shadow: none !important;
  
}
body{
  background-image: url('./../img/back.png');
}
body,h1,h2,h3,h4,h5,h6,p,a{
  font-family: iranyekan !important;
}
h1{
	color: #fefefe;
	font-weight: 700 !important;
}
#adminmenuback{
	display: none;
	visibility: hidden;
}
.wrap{
	margin:65px 2px 0 20px !important;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 20px;
	padding: 20px;
}
#adminmenuwrap{
	background: transparent;
}
ul#adminmenu{
	margin: 65px 0;
	transition: all .2s ease-in-out;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.4);
	border-radius: 12px 0 0 12px;
}
ul#adminmenu>li:first-child{
	border-radius: 12px 0 0 0;
}
ul#adminmenu>li:last-child{
	border-radius: 0 0 0 12px;
}
#collapse-button,#collapse-button:hover{
	color: #3c434a8e;
}
#adminmenu li.wp-menu-separator{
	display: none;
	visibility: hidden;
}
ul#adminmenu>li a{
	color: #3c434a;
	transition: all .3s ease;
}
ul#adminmenu>li a .wp-menu-image::before{
	color: #3c434a;
}
ul#adminmenu>li{
	transition: all .3s ease;
}
ul#adminmenu>li:hover{
	background-color: rgba(255, 255, 255, 0.6) !important;
	padding-right: 15px;
}
ul#adminmenu>li.opensub>a,ul#adminmenu>li a .wp-menu-image::before{
	background-color: unset !important;
	color: #3c434a !important;
}
#adminmenu li.wp-has-submenu.wp-not-current-submenu.opensub:hover:after, #adminmenu li.wp-has-submenu.wp-not-current-submenu:focus-within:after {
	border-left-color: #fff;
}
#adminmenu ul.wp-submenu{
	border-radius: 20px;
	-webkit-backdrop-filter: blur(10px);
	backdrop-filter: blur(10px);
	background-color: rgba(255, 255, 255, 0.9) !important;
}
#adminmenu ul.wp-submenu>li a, #adminmenu a:hover{
	color: #3c434a !important;
}
ul#adminmenu>li.wp-has-current-submenu:hover{
	padding-right: 0;
}
ul#adminmenu>li.wp-has-current-submenu{
	background-color: rgba(255, 255, 255, 0.7) !important;
}
ul#adminmenu>li.wp-has-current-submenu a{
	background-color: transparent !important;
}
ul#adminmenu>li.wp-has-current-submenu a .wp-menu-name{
	color: #3c434a !important;
}
ul#adminmenu>li.wp-has-current-submenu .wp-submenu {
	border-radius: 0;
}
ul#adminmenu>li.wp-has-current-submenu .wp-submenu li{
	transition: all .3s ease;
}
ul#adminmenu>li.wp-has-current-submenu .wp-submenu li:hover {
	padding-right: 15px;
}
#adminmenu ul.wp-submenu>li{
	transition: all .3s ease;
}
#adminmenu ul.wp-submenu>li:hover{
	padding-right: 10px;
}
.postbox{
  transition: all .2s ease-in-out;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 12px !important;
  border: none;
}
.postbox:hover{
  box-shadow: 0px 5px 20px 0px rgba(69, 67, 96, 0.1);
}
.postbox-header{
  border-bottom: none;
}
.input-text-wrap input{
background-color: #F9F9FF;
border: 1px solid #eee;
border-radius: 20px;
padding: 1px 10px;
cursor: pointer;
transition: all .3s ease-in-out;
}
.textarea-wrap textarea{
  background-color: #F9F9FF;
border: 1px solid #eee;
border-radius: 20px;
padding: 7px 10px !important;
cursor: pointer;
transition: all .3s ease-in-out;
}
#quick-press{
  padding-bottom: 10px;
}
#quick-press #save-post{
  transition: all .3s ease-in-out;
  border-radius: 20px;
  padding: 1px 10px !important;
}

.community-events-footer{
  border-top: none;
}

#dashboard_right_now .inside .main ul{
  display: flex;
  align-items: center;
  justify-content: center;
}
#dashboard_right_now .inside .main ul li{
    width: unset;
    flex-grow: 1;
    transition: all .3s ease;
}
#dashboard_right_now .inside .main ul li:hover{
  transform: translateY(-10px);
}
#dashboard_right_now .inside .main ul li a{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #555;
  font-weight: 800;
  transition: all .3s ease;
}
#dashboard_right_now .inside .main ul li a::before{
  color: #555;
  padding: unset;
  font-size: 60px;
  transition: all .3s ease;
}
#dashboard_right_now .inside .main ul li:hover a{
  color: #2196f3;
}
#dashboard_right_now .inside .main ul li:hover a::before{
  color: #2196f3;
}
#published-posts li{
  display: flex;
  column-gap: 10px;
  flex-direction: row-reverse;
  transition: all .3s ease;
}
#published-posts li a{
	transition: all .3s ease;
}
#published-posts li:hover a{
  margin-right: 20px;
}
#published-posts ul li span{
  margin-left: unset;
  min-width: unset;
}
#published-posts ul li a{
  flex-grow: 1;
  transition: all .3s ease;
}
#dashboard-widgets .postbox-container .empty-container{
	transition: all .2s ease-in-out;
	-webkit-backdrop-filter: blur(250px);
	backdrop-filter: blur(250px);
	background-color: rgba(255, 255, 255, .4);
	border-radius: 12px !important;
	border: none;
}
#dashboard-widgets .postbox-container .empty-container:after{
	color: rgba(255, 255, 255, .8);
}
#screen-meta-links .show-settings{
	transition: all .2s ease-in-out;
	-webkit-backdrop-filter: blur(250px);
	backdrop-filter: blur(250px);
	background-color: rgba(255, 255, 255, .4);
	border-radius: 0 0 12px 12px !important;
	border: none;
	color: rgba(255, 255, 255, .8);
}
#screen-meta-links .show-settings:hover{
	color: #3c434a;
}
#screen-meta{
	-webkit-backdrop-filter: blur(250px);
	backdrop-filter: blur(250px);
	background:unset;
	background-color: rgba(255, 255, 255, .55);
	border: none;
	border-radius: 0 0 12px 12px !important;
}
#contextual-help-back{
	background-color: rgba(255, 255, 255, .55);
	margin: 13px 5px;
	padding: 7px;
	border-radius: 20px;
}
.help-tab-content {
	margin: 25px 0 12px 12px;
}
.contextual-help-tabs ul li{
	transition: all .3s ease;
}
.contextual-help-tabs ul li:hover{
	padding-right: 15px;
}
.contextual-help-tabs .active{
	border-radius: 20px;
	background: rgba(255, 255, 255, .55) !important;
	margin: 0;
	border-right: none !important;
}
.contextual-help-tabs .active a{
	border: 0;
	color: #3c434a;
}
.contextual-help-tabs a{
	border: 0;
	color: #3c434a;
}
.welcome-panel{
	border-radius: 20px;
}
.contextual-help-sidebar a{
	transition: all .3s ease;
	color: white;
	text-decoration: none;
}
.contextual-help-sidebar a:hover{
	color: #3c434a;
}
#wpadminbar{
	-webkit-backdrop-filter: blur(250px);
	backdrop-filter: blur(250px);
	background:unset;
	background-color: rgba(255, 255, 255, .4);
	border: none;
	color: #3c434a;
}
#wpadminbar .ab-empty-item, #wpadminbar a.ab-item, #wpadminbar>#wp-toolbar span.ab-label, #wpadminbar>#wp-toolbar span.noticon{
	color: #3c434a;
}
#wpadminbar #wp-admin-bar-my-account.with-avatar>a img{
	border-radius: 50%;
	border: none;
}
#wpadminbar .ab-top-menu>li{
	transition: all .3s ease-in-out;
}
#wpadminbar .ab-top-menu>li.hover>.ab-item, #wpadminbar.nojq .quicklinks .ab-top-menu>li>.ab-item:focus, #wpadminbar:not(.mobile) .ab-top-menu>li:hover>.ab-item, #wpadminbar:not(.mobile) .ab-top-menu>li>.ab-item:focus{
	background-color: rgba(255, 255, 255, .5);
	color: #3c434a;
	border-radius: 100px;
}
#wpadminbar .menupop .ab-sub-wrapper{
	background-color: rgba(255, 255, 255, .9);
	border: none;
	border-radius: 20px;
}
#wpadminbar .quicklinks .menupop.hover ul li a{
	color: #3c434a;
}
#wpadminbar a, #wpadminbar a img, #wpadminbar a img:hover, #wpadminbar a:hover{
	border-radius: 50%;
}

#wpadminbar .quicklinks .ab-sub-wrapper .menupop.hover>a, #wpadminbar .quicklinks .menupop ul li a:focus, #wpadminbar .quicklinks .menupop ul li a:focus strong, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover strong, #wpadminbar .quicklinks .menupop.hover ul li a:focus, #wpadminbar .quicklinks .menupop.hover ul li a:hover, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:focus, #wpadminbar .quicklinks .menupop.hover ul li div[tabindex]:hover, #wpadminbar li #adminbarsearch.adminbar-focused:before, #wpadminbar li .ab-item:focus .ab-icon:before, #wpadminbar li .ab-item:focus:before, #wpadminbar li a:focus .ab-icon:before, #wpadminbar li.hover .ab-icon:before, #wpadminbar li.hover .ab-item:before, #wpadminbar li:hover #adminbarsearch:before, #wpadminbar li:hover .ab-icon:before, #wpadminbar li:hover .ab-item:before, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:focus, #wpadminbar.nojs .quicklinks .menupop:hover ul li a:hover{
	transition: all .3s ease-in-out;
	color: #3c434a;
}
#wpadminbar:not(.mobile)>#wp-toolbar a:focus span.ab-label, #wpadminbar:not(.mobile)>#wp-toolbar li:hover span.ab-label, #wpadminbar>#wp-toolbar li.hover span.ab-label{
	color: #3c434a;
	transition: all .3s ease-in-out;
}
#wpadminbar .quicklinks .menupop ul{
	min-width: 200px;
}
#wpadminbar .quicklinks .menupop ul.ab-sub-secondary, #wpadminbar .quicklinks .menupop ul.ab-sub-secondary .ab-submenu{
	background: unset;
}
.site-health-progress{
	height: 40px !important;
	width: 40px !important;
}
.site-health-details a{
	transition: all .3s ease-in-out;
	border:1px solid#2271b1;
	border-radius: 20px; 
	padding: 3px 6px;
	text-decoration: none;
}
.site-health-details a:hover{
	border:1px solid transparent;
	background-color: #2271b1;
	color: white;
	border-radius: 20px; 
	padding: 3px 6px;
	text-decoration: none;
}
#dashboard_right_now .inside #wp-version-message a{
	transition: all .3s ease-in-out;
	border:1px solid#2271b1;
	border-radius: 20px; 
	padding: 3px 7px;
	text-decoration: none;
}
#dashboard_right_now .inside #wp-version-message a:hover{
	border:1px solid transparent;
	background-color: #2271b1;
	color: white;
	border-radius: 20px; 
	padding: 3px 7px;
	text-decoration: none;
}
#activity-widget #latest-comments #the-comment-list .comment-item{
	margin: 10px;
	border-radius: 20px;
}
.activity-block{
	border-bottom: none;
}
#dashboard_activity .subsubsub{
	border-top: none;
}
.wrap .page-title-action{
	border-radius: 50px;
	border: none;
	transition: all .3s ease-in-out;
}
.wrap .page-title-action:hover{
	background-color: #2271b1;
	color: white;
}
.search-box #post-search-input ,#tag-search-input{
	border-radius: 0 50px 50px 0;
	margin: 0;
	border: none;
}
.search-box #search-submit{
	border-radius:50px 0 0 50px;
	margin: 0;
	border: none;
	color: white;
	background-color: #2271b1;
}
.tablenav .actions select{
	border-radius: 50px;
	border: 0;
}
.wp-core-ui .button{
	transition: all .3s ease;
	border-radius: 50px;
	background-color: white;
	color: #2271b1;
	border: none;
}
.wp-core-ui .button:hover{
	color: white;
	background-color: #2271b1;
}
table.wp-list-table {
	border-radius: 20px;
	border: none;
	background-color: rgba(255, 255, 255, .7);
	overflow: hidden;
}
.alternate, .striped>tbody>:nth-child(odd), ul.striped>:nth-child(odd){
	background-color: unset;
}
table.wp-list-table tbody tr{
	transition: all .3s ease;
}
table.wp-list-table tbody tr:hover{
	background-color: rgba(255, 255, 255, .8);
	transform: scaleX(1.01);
}
.form-field input,textarea{
	border-radius: 20px;
	border: 0 !important;
}
.form-field select{
	width: 95%;
	border-radius: 20px;
	border: 0;
}
.media-frame.mode-grid .uploader-inline{
	border-radius: 20px;
	background-color: rgba(255, 255, 255, .95);
}
.media-toolbar{
	border-radius: 20px;
}
.media-frame.mode-grid .media-toolbar select{
	font-family: iranyekan;
	border-radius: 20px;
}
button, input, select, textarea{
	font-family: iranyekan;
}
#media-search-input{
	border-radius: 20px;	
}
.attachments-wrapper{
	background-color: rgba(255, 255, 255, .85);
	border-radius: 20px;
}
.drag-drop #drag-drop-area{
	background-color: rgba(255, 255, 255, .85);
	border-radius: 20px;
}
.theme-install-php .wp-filter{
	border-radius: 20px;
}
.single-theme .theme-overlay .theme-wrap{
	border-radius: 20px;
	overflow: hidden;
}
.wp-filter .search-form input[type=search],.js.plugins-php .search-box .wp-filter-search,.plugin-install-php .wp-filter{
	border-radius: 20px;
}
.js.plugins-php .search-box .wp-filter-search{
	border: none;
}
.wp-filter{
	border: none;
}
.wp-filter .search-form.search-plugins .wp-filter-search, .wp-filter .search-form.search-plugins select{
	border-radius: 20px;
}
.plugin-card{
	transition: all .3s ease;
	border-radius: 20px;
	border: none;
	overflow: hidden;
}
.plugin-card:hover{
	transform: translatey(-10px);
}
.upload-plugin .wp-upload-form, .upload-theme .wp-upload-form{
	border-radius: 20px;
	border: none;
}
.search-box input[name="s"], .tablenav .search-plugins input[name="s"], .tagsdiv .newtag{
	border: none;
	margin: 0;
	border-radius: 0 20px 20px 0;
}
#createuser select{
	width: unset;
}
#pass-strength-result.short{
	margin-top: 10px;
	border-radius: 20px;
}
#your-profile select,input[type='text'],input[type='email'],input[type='url']{
	border: none;
	border-radius: 20px;
}
#your-profile img{
	border-radius: 50%;
}
#footer-thankyou,#footer-upgrade{
	color: white;
}